.imgResize{
    height: 75px;
    width: 75px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 72px;
}

.fontSize30{
    font-size: 30px;
}

.fontSize40{
    font-size: 40px;
    font-weight: bold;
}

.cardBackground{
    background: rgb(251,251,251);
    background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(223,240,252,1) 35%, rgba(155,213,255,1) 100%);
}